<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assest/css/contact.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        >
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css">
        <title>AdiCak - Contact</title>
    </head>
    <body>
        <nav>
            <div class="brand">
                Adi<span style="color: rgb(167, 3, 3); font-weight: 500;">Cak</span>
            </div>
            <div class="nav-menu" id="nav-menu">
                <i class="ph ph-list"></i>
            </div>
            <ul id="menu-list" class="hidden">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="content.html">Mulai</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <form action="" id="formKontak">
                <label for="name">Nama:</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Contoh: Mamat"
                    required
                >
                <label for="email">Email:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Contoh: example@gmail.com"
                    required
                >
                <label for="pesan">Pesan:</label>
                <textarea
                    name="pesan"
                    id="pesan"
                    rows="6"
                    placeholder="Masukkan pesan anda"
                ></textarea>
                <button id="kirimBtn">Kirim</button>
            </form>
        </div>
        <footer>
            <h2>Social Media</h2>
            <div class="icon">
                <a href="https://www.instagram.com/nulltrace404">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.github.com/masadii">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <p>&copy;AdiCak 2025 All Reversed</p>
        </footer>
        <script src="/assest/js/contact.js"></script>
    </body>
</html>
